* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-size: 1.5rem;
}

.nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  height: 11.2rem auto;
  width: 100%;
}

.nav--left p {
  font-size: 2rem;
}

.nav--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav--right div {
  margin: 1rem;
}

.nav--right a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
  padding: 1rem;
}

.nav--right a:hover {
  color: white;
  background-color: #100E75;
  border-radius: 1.5rem;
}

hr {
  height: 0.2rem;
  color: #C4C4C4;
  background-color: #C4C4C4;
}

.intro-image {
  background-image: url("../images/house.jpg");
  height: 39.2rem;
  background-size: cover;
  background-position: center center;
  margin-top: 1.8rem;
  width: 100%;
}

.project {
  padding: 6rem;
}

.project__head {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.63rem;
  text-align: center;
}

.project__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project--img {
  margin-top: 6.2rem;
}

.project--img img {
  width: 43rem;
  height: 36.5rem;
  margin: 0 5rem;
}

.project--img p {
  text-align: center;
  font-size: 3rem;
  margin-top: 1.6rem;
  line-height: 3.6rem;
}

.project--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project--button button {
  margin-top: 7.6rem;
  background-color: #920C0C;
  color: #FFFFFF;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem;
  width: 18.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.project--button button:hover {
  background-color: #100E75;
}

.project--button a {
  text-decoration: none;
  color: #FFFFFF;
}

.project hr {
  color: #3F3D56;
  margin: 3.6rem 6.3rem 0;
  padding: 0.1rem;
}

.about {
  padding-top: 6.1rem;
}

.about__header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.63rem;
  text-align: center;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.1rem;
}

.about--image img {
  width: 42.1rem;
  height: 36.5rem;
}

.about--content {
  width: 40%;
  margin-left: 10rem;
}

.about--content--1 {
  font-size: 3.5rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}

.about--content--2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.about--content--3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.about--content a {
  text-decoration: none;
  color: #100E75;
}

.about--content a:hover {
  background-color: #100E75;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
}

.about hr {
  color: #3F3D56;
  margin: 3.6rem 6.3rem 0;
  padding: 0.1rem;
}

.services {
  padding-top: 6.1rem;
}

.services__header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.63rem;
  text-align: center;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6.1rem;
}

.services--image img {
  width: 42.1rem;
  height: 36.5rem;
}

.services--content {
  width: 40%;
  margin-left: 10rem;
}

.services--content--1 {
  font-size: 3.5rem;
  line-height: 4.2rem;
  margin-bottom: 3rem;
}

.services--content--2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.services--content--3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.services--content a {
  text-decoration: none;
  color: #100E75;
}

.services--content a:hover {
  background-color: #100E75;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
}

.services--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services--button button {
  margin-top: 7.6rem;
  background-color: #920C0C;
  color: #FFFFFF;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem;
  width: 18.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.services--button button:hover {
  background-color: #100E75;
}

.services--button a {
  text-decoration: none;
  color: #FFFFFF;
}

.services hr {
  color: #3F3D56;
  margin: 3.6rem 6.3rem 0;
  padding: 0.1rem;
}

.contact {
  background-color: #920C0C;
  margin-top: 10rem;
  color: #FFFFFF;
  padding: 3rem;
}

.contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
}

.contact__title1, .contact__title2 {
  padding: 0 3rem;
  width: 40%;
}

.contact__title1 .head, .contact__title2 .head {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact__title1 .special, .contact__title2 .special {
  text-align: left;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.contact i {
  height: 3rem;
  font-size: 4rem;
  padding-right: 3rem;
}

.contact__details {
  margin-top: 3rem;
}

.contact__details--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 3rem 0;
  line-height: 3rem;
}

.contact__details--item p {
  font-size: 1.8rem;
}

.contact__subscribe {
  margin-top: 3rem;
  margin-top: 25rem;
}

.contact__subscribe input {
  border: none;
  width: 38rem;
  height: 7rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 2rem;
  outline: none;
}

.contact--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact--button button {
  margin-top: 7.6rem;
  background-color: #920C0C;
  color: #FFFFFF;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem;
  width: 18.5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.contact--button button:hover {
  background-color: #100E75;
}

.contact--button a {
  text-decoration: none;
  color: #FFFFFF;
}

.contact--button button {
  margin-top: 4rem;
  background-color: #100E75;
  font-size: 3rem;
  height: 7rem;
  border-radius: 3rem;
}

.contact--button button:hover {
  background-color: #FFFFFF;
  font-size: 3.5rem;
}

.contact--button button a:hover {
  color: #920C0C;
}

.contact__connect {
  margin-top: 4rem;
  margin-left: 17rem;
}

.contact__connect p {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
}

.contact__connect div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__connect a {
  text-decoration: none;
  color: #100E75;
}

.contact__connect a:hover {
  color: white;
}

.contact hr {
  color: #3F3D56;
  margin: 3.6rem 6.3rem 0;
  padding: 0.1rem;
}

.footnote {
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */