.project{
    padding: 6rem;

    &__head{
        @include title;
    }

    &__type{
        display: flex;
        justify-content: center;
    }

    &--img{
        margin-top: 6.2rem;

        img{
            width: 43rem;
            height: 36.5rem;
            margin: 0 5rem;
        }
        
        p{
            text-align: center;
            font-size: 3rem;
            margin-top: 1.6rem;
            line-height: 3.6rem;
        }
    }

    @include button;
    
    
    @include hr;
}